In [2]:
import pandas as pd
data = [['bola', 10], ['dayo', 15], ['femi', 20]]
df = pd.DataFrame (data, columns = ['Name', 'Age'])
df

   Name  Age
0  bola   10
1  dayo   15
2  femi   20

In [1]:
import pandas as pd
data = {'Name': ['QueenBee','Harnaf','Richy', 'Liberty','Hardman', ] ,'Matric No':['NSS/2019/006', 'CSE/2019/006', 'NSS/2019/006','CSE/2019/006','CHT/2019/002'], 'Department':['Networking and System Security', 'Software Engineering', 'Networking and System Security','Software Engineering', 'Hardware Engineering']}
df = pd.DataFrame (data)
df

       Name     Matric No                      Department
0  QueenBee  NSS/2019/006  Networking and System Security
1    Harnaf  CSE/2019/006            Software Engineering
2     Richy  NSS/2019/006  Networking and System Security
3   Liberty  CSE/2019/006            Software Engineering
4   Hardman  CHT/2019/002            Hardware Engineering